[Desktop Entry]
Type=Application
Name=Arctis Sound Manager
Comment=Headset audio control (autostart)
Exec=sh -c "sleep 3 && /usr/bin/asm-gui --systray"
Icon=arctis-manager
Terminal=false
Categories=AudioVideo;Audio;Utility;
X-GNOME-Autostart-enabled=true
