[Unit]
Description=AMD GPU power/performance tweaks
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/gpu-tweaks.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
